@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
  margin-bottom: 10px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  font-size: 16px;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 20px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: rgb(228, 228, 228);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 15px;
  padding: 0;
  gap: 20px;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}
