body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-size: 32px;
  font-weight: 900;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex: 0 0 300px;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 20px;
  width: 200px;
  height: 200px;
}

.sidebar-cards {
  flex: 1 1 auto;
  display: flex;  
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 48px;
  gap: 48px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 0;
}

li {
  font-weight: 400;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: white;
}