.first-button {
    background-color: black;
    color: white;
}

.second-button {
    background-color: rgb(236, 236, 89);
}

.first-button, .second-button {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}