body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 430px;
  background: #fff;
  margin: 16px auto;
  padding-top: 3px;
  padding-bottom: 3px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  margin: 0 10px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 10px;
}